@page "/"

<PageTitle>Ultimo League</PageTitle>
<MudText Typo="Typo.h4" GutterBottom="true">Welcome to Ultimo League</MudText>
<MudText Class="mb-8" GutterBottom="true">Please select a sport below to begin!</MudText>

<MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="true" ShowBullets="@true" EnableSwipeGesture="@true" 
    AutoCycle="@true" TData="object">
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Fade" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
</MudCarousel>
<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudText Typo="Typo.h6">h6. Heading</MudText>
    <MudTextField T="string" Label="Multiline" Variant="Variant.Text" Text="TESTSTS" />
</MudContainer>

@code{
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}